---
import Artista from "../components/Artista.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-wrap gap-2.5 p-8">
        <Artista artist="Agust-D" imgURL="pic.jpg" />
        <Artista artist="RM" imgURL="RM.jpg" />
        <Artista artist="CA7RIEL & Paco Amoroso" imgURL="paco.avif" />
    </div>
</Layout>
