---
import Play from "../components/Play.astro";
import Layout from "../layouts/Layout.astro";
import Canciones from "../components/Canciones.astro";
import Tarjetasong from "../components/Tarjetasong";
import axios from "axios";
import type { Song } from "../types/songs";
import Tarjetaplay from "../components/Tarjetaplay.tsx";

const listCanciones = await axios.get(
    "https://api.institutoalfa.org/api/songs",
);
---

<Layout>
    <div class="grid gap-8 md:grid-cols-2 md:text-left adicional">
        <div><Tarjetaplay client:visible /></div>
        <div class="grid gap-5 overflow-auto p-4">
            {
                listCanciones.data.songs.map(function (cancion: Song) {
                    return <Tarjetasong song={cancion} client:visible />;
                })
            }
        </div>
    </div>
</Layout>

<style>
    .adicional {
        flex-grow: 1;
        overflow: hidden;
    }
</style>
