---
import Play from "../components/Play.astro";
import Layout from "../layouts/Layout.astro";
import Canciones from "../components/Canciones.astro";
import Tarjetasong from "../components/Tarjetasong";
import axios from "axios";
import type { Song } from "../types/songs";
import Tarjetaplay from "../components/Tarjetaplay";


const listCanciones = await axios.get(
    "https://api.institutoalfa.org/api/songs",
);

---

<Layout>
    <div class="flex flex-row gap-2.5 justify-between px-24 py-7">
        <div>
            {
                listCanciones.data.songs.map(function (cancion: Song) {
                    return <Tarjetaplay song={cancion} client:visible />;
                })
            }
        </div>
        <div></div>
        <div class="flex flex-col gap-2.5 basis-128">
            {
                listCanciones.data.songs.map(function (cancion: Song) {
                    return <Tarjetasong song={cancion} client:visible />;
                })
            }

            
        </div>
    </div>
</Layout>
