---
import Canciones from "../components/Canciones.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col gap-2.5">
        <Canciones artist="Agust-d" song="D-day" imgURL="d-day album.png" />
        <Canciones artist="Agust-d" song="Haegeum" imgURL="d-day album.png" />
        <Canciones artist="Agust-d" song="HUH?!" imgURL="d-day album.png" />
        <Canciones artist="Agust-d" song="AMYGDALA" imgURL="d-day album.png" />
        <Canciones artist="Agust-d" song="SDL" imgURL="d-day album.png" />
        <Canciones
            artist="Agust-d"
            song="People Pt.2"
            imgURL="d-day album.png"
        />
        <Canciones
            artist="Agust-d"
            song="Polar Night"
            imgURL="d-day album.png"
        />
        <Canciones
            artist="Agust-d"
            song="Interlude: Dawn"
            imgURL="d-day album.png"
        />
        <Canciones artist="Agust-d" song="Snooze" imgURL="d-day album.png" />
        <Canciones
            artist="Agust-d"
            song="Life Goes On"
            imgURL="d-day album.png"
        />

        <Canciones
            artist="RM"
            song="Right People, Wrong Place"
            imgURL="right.jpg"
        />
        <Canciones artist="RM" song="Nuts" imgURL="right.jpg" />
        <Canciones artist="RM" song="out of love" imgURL="right.jpg" />
        <Canciones
            artist="RM"
            song="Domodachi (feat.Little Simz)"
            imgURL="right.jpg"
        />
        <Canciones artist="RM" song="? (Interlude)" imgURL="right.jpg" />
        <Canciones artist="RM" song="Groin" imgURL="right.jpg" />
        <Canciones artist="RM" song="Heaven" imgURL="right.jpg" />
        <Canciones artist="RM" song="LOST!" imgURL="right.jpg" />
        <Canciones
            artist="RM"
            song="Around the world in a Day (feat. Moses Sumney)"
            imgURL="right.jpg"
        />
        <Canciones artist="RM" song="ㅠㅠ (Credit Roll)" imgURL="right.jpg" />
        <Canciones artist="RM" song="Come back to me" imgURL="right.jpg" />

        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="IMPOSTOR"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="#TETAS"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="RE FORRO"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="EL D[IA DEL AMIGO"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="DUMBAI"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="EL ÚNICO"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="MI DESEO"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="BABY GANGSTA"
            imgURL="papota.jpg"
        />
        <Canciones
            artist="Ca7riel & Paco Amoroso"
            song="LA QUE PUEDO, PUEDE"
            imgURL="papota.jpg"
        />
    </div>
</Layout>
