---
interface Props {
    category: string;
    album: string;
    artist: string;
    imgURL: string;
}
const { artist, category, imgURL, album } = Astro.props;
---

<div class="flex flex-col items-center grow rounded-x1 gap-2.5">
    <div>
        <img src={imgURL} alt="" class="w-full h-64 object-cover rounded-2xl" />
    </div>
    <div class="flex flex-col items-center  bg-amber-50 rounded-full px-16">
        <h1 class="font-bold text-xl">{album}</h1>
        <p>{artist}</p>
        <p>{category}</p>
    </div>
</div>
