---
interface Props {
    category: string;
    artist: string;
    imgURL: string;
}
const { artist, category, imgURL } = Astro.props;
---

<div class="all">
    <div>
        <img src={imgURL} alt="" class="pic" />
    </div>
    <div class="title">
        <h1>{artist}</h1>
        <p>{category}</p>
    </div>
</div>

<style>
    .pic {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }
    .all {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        background-color: white;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
