---
import { Icon } from "astro-icon/components";

interface Props {
    song: string;
    artist: string;
    imgURL: string;
    year: number;
}
const { artist, song, imgURL, year } = Astro.props;
---

<div class="flex flex-row items-center gap-14 bg-amber-50 grow">
    <div>
        <img
            src={imgURL}
            alt=""
            class="w-full size-28 object-contain rounded-2xl"
        />
    </div>
    <div>
        <h1 class="font-bold text-xl">{song}</h1>
        <p>{artist}</p>
        <p>{year}</p>
    </div>
    <div>
        <Icon
            name="stash:play-duotone"
            width="32"
            height="32"
            class="text-violet-950"
        />
    </div>
</div>
