---
import { Icon } from "astro-icon/components";
---

<head>
    <div class="all">
        <nav class="flex flex-col gap-8 items-center justify-center px-8 py-3">
            <a href="/">
                <Icon name="pixel:music" width="36" height="36" class="text-purple-900" />
            </a>

            <div>
                <ul class="flex gap-8 items-center">
                    <li class="text-white bg-violet-500 rounded-2xl px-2.5 py-1.5"><a href="/songs">Canciones</a></li>
                    <li class="text-white bg-violet-500 rounded-2xl px-2.5 py-1.5"><a href="/artist">Artistas</a></li>
                    <li class="text-white bg-violet-500 rounded-2xl px-2.5 py-1.5"><a href="/albums">Albumes</a></li>
                </ul>
            </div>
        </nav>
    </div>
</head>
