---
import { Icon } from "astro-icon/components";
---

<head>
    <div class="all">
        <nav class="barra">
            <a href="/">
                <Icon name="pixel:music" width="36" height="36" class="icono" />
            </a>

            <div>
                <ul class="enlaces">
                    <li class="button"><a href="/songs">Canciones</a></li>
                    <li class="button"><a href="/artist">Artistas</a></li>
                    <li class="button"><a href="/albums">Albumes</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <style>
        .barra {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
            padding: 12px 30px;
        }
        .enlaces {
            display: flex;
            gap: 30px;
            align-items: center;
        }
        .icono {
            color: rgb(102, 70, 102);
        }
        .button{
            color:rgb(255, 255, 255);
            background-color: rgb(81, 59, 102);
            border-radius: 10px;
            padding: 5px 10px;
        }
    </style>
</head>
